// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




h1{
  color: #fff;
}
h2{
  color: #eed8ae;
}
#tasks{
  color: #EED8AE;
  text-decoration: none;
  a:link {
    text-decoration: none;
}  a:hover {
    background-color: #778f9d;
}

}

body{
  text-align: center;
  background: url(http://i.huffpost.com/gen/1948234/images/o-EMPTY-CLASSROOM-facebook.jpg);
}
